<style>
    a.text-link{
        text-decoration: none;
        color: dodgerblue;
    }
    a.text-link:hover{
        text-decoration: underline;
    }
</style>

<!--Footer-->
<footer class="w3-padding-64 w3-light-grey w3-small w3-center s4" id="footer">
    <div class="w3-row-padding">

        <div class="w3-third s4" style="margin-top: -30px">
            <img alt="logo" src="images/company-logo.png"/>
            <p class="w3-large w3-text-dark-gray w3-margin-right w3-margin-left">
                Custom Glass Designs is the leader in frameless
                shower doors and shower glass enclosures in the Port Orange area.
            </p>
        </div>

        <div class="w3-third w3-margin-top s4">
            <h4><span>SITE MAP</span></h4>
            <div class="w3-large">
                <p><a class="text-link" href="/home">Home</a></p>
                <p><a class="text-link" href="/about">About</a></p>
                <p><a class="text-link" href="/services">Services</a></p>
                <p><a class="text-link" href="/photogallery">Photo Gallery</a></p>
                <p><a class="text-link" href="/finish-glass">Finish / Glass</a></p>
                <p><a class="text-link" href="/contact">Contact Us</a></p>
            </div>
        </div>

        <div class="w3-third w3-margin-top s4">
            <h4><span>CONTACT INFO</span></h4>
            <div class="w3-large">


                <p><i class="fa fa-fw fa-map-marker"></i>
                    <a class="text-link" href="https://www.google.com/maps/search/?api=1&query=600+Oak+Street%2C+Port+Orange%2C+FL+32127" target="_blank">600 Oak Street, Port Orange, FL 32127</a></p>
                <p><i class="fa fa-fw fa-phone"></i>
                    <a class="text-link" href="tel:386-767-6040">386-767-6040</a></p>
                <p><i class="fa fa-fw fa-envelope"></i>
                    <a class="text-link" href="mailto:info@custom-glass.biz">info@custom-glass.biz</a></p>
            </div>
            <br>
            <h4><span>HOURS</span></h4>
            <div class="w3-large w3-text-dark-gray" style="LINE-HEIGHT:10px;">
                <p>Mon - Fri: 9 am - 5 pm</p>
                    <!--TODO: align by colons /// <span>-->
                <p>Sat: 10 am - 2 pm</p>
            </div>
        </div>
    </div>
</footer>

<div class="col-md-12 w3-center">Copyright © 2018 Custom Glass Designs, All rights reserved</div>
