<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../views/partials/head.ejs %>
    </head>

    <body>

        <!-- Navbar -->
        <%include ../views/partials/navbar.ejs %>

        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>

    </body>
</html>
