<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head.ejs%>
</head>

<body>

    <!-- Navbar -->
    <%include ../views/partials/navbar.ejs %>

    <!-- Page content -->
    <div class="w3-content container" style="max-width:2000px;margin-top:46px">
        <div class="">
            <h1>Hello from FINISH / GLASS</h1>
        </div>


        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    </div>
    <!-- End Page Content -->

    <!-- Footer -->
    <%include ../views/partials/footer %>

</body>
</html>
