<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head.ejs%>
</head>

<body>

    <!-- Navbar -->
    <%include ../views/partials/navbar.ejs %>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

    <p>&nbsp;</p>
    <h1>Hello from PHOTO GALLERY</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


    </div>
    <!-- End Page Content -->

    <!-- Footer -->
    <%include ../views/partials/footer %>

</body>
</html>
